<div class="clients-page">
<p-tabs [value]="initialTab" [lazy]="true" styleClass="clients-page__tabs">
  <p-tablist>
    <p-tab value="clients">{{ 'CLIENTS.TAB_LABEL' | translate }}</p-tab>
    <p-tab value="tags">{{ 'CLIENTS.TAGS.TAB_LABEL' | translate }}</p-tab>
    <p-tab value="birthdays">{{ 'CLIENTS.BIRTHDAYS.TAB_LABEL' | translate }}</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="clients">
      <ng-template #content><app-admin-client-list /></ng-template>
    </p-tabpanel>
    <p-tabpanel value="tags">
      <ng-template #content><app-admin-client-tags /></ng-template>
    </p-tabpanel>
    <p-tabpanel value="birthdays">
      <ng-template #content><app-admin-birthdays /></ng-template>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
</div>
