<app-complete-employee-profile-cta />

<p-tabs [value]="initialTab" [lazy]="true">
  <p-tablist>
    <p-tab value="team">{{ 'ROSTER.TEAM_MONTHLY.TAB_LABEL' | translate }}</p-tab>
    @if (hasEmployeeProfile()) {
      <p-tab value="personal">{{ 'ROSTER.PERSONAL.TAB_LABEL' | translate }}</p-tab>
    }
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="team">
      <ng-template #content>
        <app-roster-team-monthly
          [currentEmployeeId]="currentEmployeeId()"
          [activeCompanies]="activeCompanies()"
          (cellClick)="onTeamCellClick($event)"
        />
      </ng-template>
    </p-tabpanel>
    @if (hasEmployeeProfile()) {
      <p-tabpanel value="personal">
        <ng-template #content>
          <app-roster-personal
            [allowEmployeePicker]="false"
            [currentEmployeeId]="currentEmployeeId()"
            [employees]="activeEmployees()"
            (add)="onPersonalAdd($event)"
            (edit)="onPersonalEdit($event)"
          />
        </ng-template>
      </p-tabpanel>
    }
  </p-tabpanels>
</p-tabs>

<app-roster-entry-form-dialog
  [(visible)]="dialogVisible"
  [entry]="editingEntry()"
  [initial]="dialogInitial()"
  [employees]="activeEmployees()"
  [rosterTypes]="activeRosterTypes()"
  [currentEmployeeId]="currentEmployeeId()"
  (saved)="onDialogSaved()"
/>
