<div class="list-toolbar">
  <p-iconfield class="list-toolbar__search">
    <p-inputicon class="pi pi-search" />
    <input
      type="text"
      pInputText
      fluid
      [ngModel]="search()"
      (ngModelChange)="onSearchInput($event)"
      [placeholder]="'COMMON.SEARCH_PLACEHOLDER' | translate"
    />
  </p-iconfield>

  <div class="list-toolbar__extra">
    <ng-content />
  </div>

  @if (showInactiveToggle()) {
  <div
    class="list-toolbar__switch"
    role="switch"
    tabindex="0"
    [attr.aria-checked]="showInactive()"
    (click)="toggleShowInactive()"
    (keydown.enter)="toggleShowInactive()"
    (keydown.space)="toggleShowInactive(); $event.preventDefault()"
  >
    <p-toggleswitch [ngModel]="showInactive()" (ngModelChange)="onShowInactiveToggle($event)" (click)="$event.stopPropagation()" />
    <span>{{ 'COMMON.SHOW_INACTIVE' | translate }}</span>
  </div>
  }

  <p-button
    class="list-toolbar__new"
    icon="pi pi-plus"
    [label]="newLabelKey() | translate"
    (onClick)="create.emit()"
  />
</div>
