<div class="dl-card client-tags-page">
  <app-list-toolbar
    [newLabelKey]="'CLIENTS.TAGS.NEW'"
    [search]="search()"
    [showInactive]="showInactive()"
    (searchChange)="onSearchChange($event)"
    (showInactiveChange)="onShowInactiveChange($event)"
    (create)="openCreate()"
  />

  <p-table
    #dt
    [value]="items()"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
    [paginator]="true"
    [rows]="rows()"
    [totalRecords]="totalCount()"
    [loading]="loading()"
    [rowsPerPageOptions]="[20, 50, 100, 200]"
    dataKey="id"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'CLIENTS.TAGS.COL_NAME' | translate }}</th>
        <th>{{ 'CLIENTS.TAGS.COL_COLOR' | translate }}</th>
        <th>{{ 'CLIENTS.TAGS.COL_SORT_ORDER' | translate }}</th>
        <th>{{ 'COMMON.COL_STATUS' | translate }}</th>
        <th class="client-tags-page__actions-col"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-tag>
      <tr [class.client-tags-page__row--inactive]="!tag.isActive">
        <td>{{ tag.name }}</td>
        <td><app-color-swatch [colorHex]="tag.colorHex" /></td>
        <td>{{ tag.sortOrder }}</td>
        <td><app-status-tag [active]="tag.isActive" /></td>
        <td class="client-tags-page__actions">
          <p-button
            icon="pi pi-pencil"
            [text]="true"
            [rounded]="true"
            [ariaLabel]="'COMMON.EDIT' | translate"
            [title]="'COMMON.EDIT' | translate"
            (onClick)="openEdit(tag)"
          />
          @if (tag.isActive) {
            <p-button
              icon="pi pi-eye-slash"
              severity="warn"
              [text]="true"
              [rounded]="true"
              [ariaLabel]="'COMMON.DEACTIVATE' | translate"
              [title]="'COMMON.DEACTIVATE' | translate"
              (onClick)="confirmDeactivate(tag)"
            />
          } @else {
            <p-button
              icon="pi pi-eye"
              severity="success"
              [text]="true"
              [rounded]="true"
              [ariaLabel]="'COMMON.ACTIVATE' | translate"
              [title]="'COMMON.ACTIVATE' | translate"
              (onClick)="activate(tag)"
            />
          }
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [text]="true"
            [rounded]="true"
            [ariaLabel]="'COMMON.DELETE' | translate"
            [title]="'COMMON.DELETE' | translate"
            (onClick)="confirmDelete(tag)"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5" class="client-tags-page__empty">{{ 'CLIENTS.TAGS.EMPTY' | translate }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-client-tag-form-dialog [(visible)]="dialogVisible" [tag]="editingTag()" (saved)="onSaved()" />
