<p-tabs [value]="initialTab" [lazy]="true">
  <p-tablist>
    <p-tab value="grant-groups">{{ 'PERMISSIONS.GRANT_GROUPS.TAB_LABEL' | translate }}</p-tab>
    @if (canSeeRolesTab()) {
      <p-tab value="roles">{{ 'PERMISSIONS.ROLES.TAB_LABEL' | translate }}</p-tab>
    }
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="grant-groups">
      <ng-template #content><app-admin-grant-groups /></ng-template>
    </p-tabpanel>
    @if (canSeeRolesTab()) {
      <p-tabpanel value="roles">
        <ng-template #content><app-admin-roles /></ng-template>
      </p-tabpanel>
    }
  </p-tabpanels>
</p-tabs>
