<p-tabs [value]="initialTab">
  <p-tablist>
    <p-tab value="services">{{ 'CATALOG.SERVICES_TAB_LABEL' | translate }}</p-tab>
    <p-tab value="packages">{{ 'CATALOG.PACKAGES_TAB_LABEL' | translate }}</p-tab>
    <p-tab value="pricing">{{ 'CATALOG.PRICING_TAB_LABEL' | translate }}</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="services">
      <app-admin-catalog-services />
    </p-tabpanel>
    <p-tabpanel value="packages">
      <app-admin-packages />
    </p-tabpanel>
    <p-tabpanel value="pricing">
      <app-admin-pricing />
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
