<p-tabs [value]="initialTab" [lazy]="true">
  <p-tablist>
    <p-tab value="services">{{ 'CATALOG.SERVICES_TAB_LABEL' | translate }}</p-tab>
    <p-tab value="packages">{{ 'CATALOG.PACKAGES_TAB_LABEL' | translate }}</p-tab>
    <p-tab value="pricing">{{ 'CATALOG.PRICING_TAB_LABEL' | translate }}</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="services">
      <ng-template #content><app-admin-catalog-services /></ng-template>
    </p-tabpanel>
    <p-tabpanel value="packages">
      <ng-template #content><app-admin-packages /></ng-template>
    </p-tabpanel>
    <p-tabpanel value="pricing">
      <ng-template #content><app-admin-pricing /></ng-template>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
