<div class="company-holidays-tab">
  <div class="company-holidays-tab__toolbar">
    <div class="dl-form__field company-holidays-tab__year-field">
      <label for="holidays-year">{{ 'CATALOG.LOCATIONS.HOLIDAYS.FIELD_YEAR' | translate }}</label>
      <p-select
        id="holidays-year"
        appendTo="body"
        [options]="yearOptions()"
        optionLabel="label"
        optionValue="value"
        [ngModel]="year()"
        (ngModelChange)="onYearChange($event)"
      />
    </div>

    @if (canManage()) {
      <div class="company-holidays-tab__actions">
        <p-button
          [text]="true"
          icon="pi pi-sparkles"
          [label]="'CATALOG.LOCATIONS.HOLIDAYS.GENERATE_BUTTON' | translate"
          [loading]="generating()"
          (onClick)="onGenerate()"
        />
        <p-button
          [text]="true"
          icon="pi pi-plus"
          [label]="'CATALOG.LOCATIONS.HOLIDAYS.ADD_BUTTON' | translate"
          (onClick)="openAddForm()"
        />
      </div>
    }
  </div>

  @if (generateCatalogMissing()) {
    <div class="company-holidays-tab__hint">
      <i class="pi pi-info-circle"></i>
      <span>
        {{ 'errors.HOLIDAY_CATALOG_NOT_DEFINED_FOR_COUNTRY' | translate }}
        <a href="javascript:void(0)" (click)="openAddForm()">{{ 'CATALOG.LOCATIONS.HOLIDAYS.ADD_BUTTON' | translate }}</a>
      </span>
    </div>
  }

  @if (addFormVisible()) {
    <form [formGroup]="addForm" (ngSubmit)="onAddSave()" class="dl-form company-holidays-tab__add-form" novalidate>
      <div class="dl-form__field">
        <label for="holiday-date">{{ 'CATALOG.LOCATIONS.HOLIDAYS.FIELD_DATE' | translate }}</label>
        <p-datepicker id="holiday-date" fluid appendTo="body" formControlName="date" dateFormat="dd.mm.yy" [showIcon]="true" />
        @if (addForm.controls.date.invalid && addForm.controls.date.touched) {
          <span class="dl-form__error">{{ 'CATALOG.LOCATIONS.HOLIDAYS.ERRORS.DATE_REQUIRED' | translate }}</span>
        }
      </div>

      <div class="dl-form__field">
        <label for="holiday-name">{{ 'CATALOG.LOCATIONS.HOLIDAYS.FIELD_NAME' | translate }}</label>
        <input id="holiday-name" type="text" pInputText fluid formControlName="name" maxlength="255" />
        @if (addForm.controls.name.invalid && addForm.controls.name.touched) {
          <span class="dl-form__error">{{ 'CATALOG.LOCATIONS.HOLIDAYS.ERRORS.NAME_REQUIRED' | translate }}</span>
        }
      </div>

      <div class="dl-form__actions">
        <p-button type="button" [text]="true" severity="secondary" [label]="'COMMON.CANCEL' | translate" (onClick)="onAddCancel()" />
        <p-button type="submit" [label]="'COMMON.SAVE' | translate" [loading]="addSaving()" />
      </div>
    </form>
  }

  <p-table [value]="items()" [loading]="loading()" dataKey="id" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'CATALOG.LOCATIONS.HOLIDAYS.COL_DATE' | translate }}</th>
        <th>{{ 'CATALOG.LOCATIONS.HOLIDAYS.COL_NAME' | translate }}</th>
        <th>{{ 'CATALOG.LOCATIONS.HOLIDAYS.COL_ORIGIN' | translate }}</th>
        @if (canManage()) {
          <th class="company-holidays-tab__actions-col"></th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-holiday>
      <tr>
        <td>{{ holiday.date | hrDate }}</td>
        <td>{{ holiday.name }}</td>
        <td>
          <p-tag
            [severity]="holiday.isAutoGenerated ? 'info' : 'secondary'"
            [value]="(holiday.isAutoGenerated ? 'CATALOG.LOCATIONS.HOLIDAYS.ORIGIN_AUTO' : 'CATALOG.LOCATIONS.HOLIDAYS.ORIGIN_MANUAL') | translate"
          />
        </td>
        @if (canManage()) {
          <td class="company-holidays-tab__actions-col">
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [text]="true"
              [rounded]="true"
              [ariaLabel]="'COMMON.DELETE' | translate"
              [title]="'COMMON.DELETE' | translate"
              (onClick)="confirmDelete(holiday)"
            />
          </td>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="canManage() ? 4 : 3" class="company-holidays-tab__empty">
          {{ 'CATALOG.LOCATIONS.HOLIDAYS.EMPTY' | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
